<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://vk.com/club130416798">
              <img width="50" height="50" src="{{ site.baseurl }}/images/vkontakte-ic.png">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://instagram.com/sonsofthefatherland">
              <img width="50" height="50" src="{{ site.baseurl }}/images/instagram-ic.png">
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">ТРСПО &copy; Сыны Отечества 2018</p>
      </div>
    </div>
  </div>
</footer>
