---
layout: default
comments: true
---
{{ content }}
<br>
<script type="text/javascript">
  document.write(VK.Share.button(
    false,
    {type: 'round_nocount', text: 'Поделиться'}
  ));
</script>
<br>
<div class="row">
  <div class="col-sm-5">
    {% if page.previous.url %}
      <a class="prev" href="{{ site.baseurl }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
    {% endif %}
  </div>
  <div class="col-sm-5 col-sm-offset-7">
    {% if page.next.url %}
      <a class="next" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
    {% endif %}
  </div>
</div>

{% if page.comments %}
<div id="disqus_thread"></div>
<script>

/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://vivchar.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
{% endif %}
